.content:after {
content: ""; display: block; clear: both; }
div.detalhes { width: 200px; margin-left: 10px; float: right;}
div > div { display: inline-block; vertical-align: top; }
dl { display: block; }
dt { text-align: center; background: rgba(159, 183, 132, 0.8); color: #fff; text-shadow: 0px 2px 0px rgba(0,0,0, 0.3); }
dl dt {text-align: center; padding: 11px 5px 11px 10px; font-weight: bold; }
dl dd { text-align: center; min-height: 15px; margin-bottom: 3px; padding: 10px 5px 10px 20px; }

.vermelho {
    background-color: #9E2D25;
    color: #fff;
}
.verde {
    background-color: #698F3F;
    color: #fff;
}
.cinza {
    background-color: #A7A7A7;
    color: #fff;
}
.amarelo {
    background-color: #E8C73C;
    color: #fff;
}
.marrom {
    background-color: #94672E;
    color: #fff;
}
.azul {
    background-color: #57AAB5;
    color: #fff;
}
.laranja {
    background-color: #F7772D;
    color: #fff;
}
.branco {
    background-color: #f9f9f9;
    color: #000;
}
.preto {
    background-color: #363636;
    color: #fff;
}
.roxo {
    background-color: #74526C;
    color: #fff;
}