<h1> Cadastrar novo ponto de coleta</h1>

<div class="content">
  <div class="form-cadastraponto">
    <form class="cadastro" [formGroup]="cadastrarPontoForm" novalidate (ngSubmit)="cadastroPonto(cadastrarPontoForm.value)">
      <fieldset>
        <ul>
          <li>
            <label>
              <p>Nome</p>
              <input class="editinput" formControlName="nome" type="text" placeholder="Nome" required
                [style.background-color]="cadastrarPontoForm.controls.nome.valid ? inputOkColor : inputErrColor " />
              <span class="advInput" *ngIf="!cadastrarPontoForm.controls.nome.valid">
                Nome não pode ser vazia nem ter mais de 60 caracteres!
              </span>
            </label>
          </li>

          <!-- <li>
            <label>
              <p>Imagem:</p>
              <input type="file" class="editinput" (change)="onChangeImage($event)" >
            </label>
          </li> -->

          <li>
            <label>
              <p>Endereço</p>
              <input placeholder="Endereço" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [(formControl)]="searchControl"
                [style.background-color]="isLocationSelected() ? inputOkColor : inputErrColor " />
              <span class="advInput" *ngIf="!isLocationSelected()">
                Selecione um local
              </span>
            </label>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </li>

          <li>
            <label>
              <p>Descrição</p>
              <input class="editinput" formControlName="descricao" type="text" placeholder="Descricao" required
                [style.background-color]="cadastrarPontoForm.controls.descricao.valid ? inputOkColor : inputErrColor " />
              <span class="advInput" *ngIf="!cadastrarPontoForm.controls.descricao.valid">
                Descrição não pode ser vazia nem ter mais de 300 caracteres!
              </span>
            </label>
          </li>

          <li>
            <label>
              <p>Telefone</p>
              <input class="editinput" formControlName="telefone" type="tel" placeholder="Telefone" required
                [style.background-color]="cadastrarPontoForm.controls.telefone.valid ? inputOkColor : inputErrColor " />
              <span class="advInput" *ngIf="!cadastrarPontoForm.controls.telefone.valid">
                Telefone não pode ser vazio nem ter mais de 20 caracteres!
              </span>
            </label>
          </li>

          <li>
            <label>
              <p>Email</p>
              <input class="editinput" formControlName="email" type="email" placeholder="Email" required
                      [style.background-color]="cadastrarPontoForm.controls.email.valid ? inputOkColor : inputErrColor " />
              <span class="advInput" *ngIf="!cadastrarPontoForm.controls.email.valid">
                Email não pode ser vazio nem ter mais de 70 caracteres!
              </span>
            </label>
          </li>

          <br/>
          <li>
            <h3>Horários de atendimento</h3>
            <ul class="horarios">
              <li *ngFor="let i of [0,1,2,3,4,5,6]">
                <label>
                  <input [(ngModel)]="diaCheck[i]" [ngModelOptions]="{standalone: true}" type="checkbox" required/>
                  <span>{{nomesSemana[i]}}</span>
                </label>
                <div>
                  Das <input class="editinput" [(ngModel)]="horaAbre[i]" [ngModelOptions]="{standalone: true}" type="time" placeholder="Hora Inicial" style="width:100px;" required/> até as <input class="editinput" [(ngModel)]="horaFecha[i]" [ngModelOptions]="{standalone: true}" type="time" placeholder="Hora Final" style="width:100px;" required/>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        
        <!-- <div> 
          <p> Lista de resíduos que recebe </p>
          <select name="residuos" formControlName="residuos">
            <option>Escolha os resíduos</option>
            <option *ngFor="let residuos of residuo" [ngValue]="categoria">
              {{residuos.nome}}
            </option>
          </select>
        </div> -->

        <!-- lista estatica de residuos -->

        <div class="lista-residuos">
          <h3>Resíduos</h3>
          
          <ul>
            <li *ngFor="let residuo of residuoService.residuos; let i = index">
              <label>
                <input type="checkbox" [(ngModel)]="checkResiduos[i]" [ngModelOptions]="{standalone: true}"/>
                {{residuo.nome}}
              </label>
            </li>
          </ul>
        </div>

        <button type="submit" >Cadastrar</button>
        <!-- [disabled]="!cadastrarPontoForm.valid"  -->
      </fieldset>
    </form>
  </div>
</div>
