<div class="content-wrapper">
  <div>
    <h1> Descartes por Ponto de Coleta</h1>
    <div class="content">
      <form class="cadastro" action="">
        <ul>
          <li>
            <label>
              <p>Selecionar Relatório</p>
              <select name="Relatorio" [ngModel]="service.selSolicitada"  (ngModelChange)="onChangeTipo($event)" >
                <option *ngFor="let kv of service.optSolicitar" [ngValue]="kv" (ngModelChange)="determinaRel($event)">
                  {{kv.value}}
                </option>
              </select>
            </label>
          </li>
          <li>
            <label>
              <p>Selecionar Top 10</p>
              <select [(ngModel)]="ordemMaiores" (ngModelChange)="onChangeOrdem($event)" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="true">Maiores Casos</option>   <!-- Maiores == true == desc -->
                <option [ngValue]="false">Menores Casos</option>
              </select>
            </label>
          </li>
          <div *ngIf="!service.selSolicitada.extra2">
            <li>
              <label>
                <p>Data Início: </p>
                <input type="date" (change)="onChangeDate($event.target.value, 0)" />
              </label>
            </li>
            <li>
              <label>
                <p>Data Fim: </p>            
                <input type="date" (change)="onChangeDate(0, $event.target.value)" />
              </label>
            </li>
          </div>      
        </ul>

        <div class="tipo-relatorio">
          <p><b>{{service.relatorioAtual.nome}}</b></p>
          <p>{{ordemLabel[0]}}</p>
        </div>
        
        <button (click)="atualizar()">Solicitar</button>
      </form>

      <div class="grafico" *ngIf="service.mostrarGrafico">
        <div>
          <canvas baseChart
            [datasets]   =   "service.relatorioAtual.barChartData"
            [labels]     =   "service.relatorioAtual.barChartLabels"
            [options]    =   "service.relatorioAtual.barChartOptions"
            [legend]     =   "service.relatorioAtual.barChartLegend"
            [chartType]  =   "service.relatorioAtual.barChartType"
            (chartHover) =   "service.relatorioAtual.chartHovered($event)"
            (chartClick) =   "service.relatorioAtual.chartClicked($event)" >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>