<h1>Cadastrar Resíduo</h1>

<div class="content">
  <div class="form-cadastrarresiduo">
    <form class="cadastro" [formGroup]="residuoForm" novalidate (ngSubmit)="cadastrarResiduo(residuoForm.value)">
      <fieldset>
        
        <!-- Load descrição, imagem do residuo e imagem da subcategoria-->
        <!-- Carregar as categorias do banco
        <select [(ngModel)]="categoria.id">
          <option *ngFor="let categoria of categorias" value={{categoria.id}}>
            {{categoria.nome}}
          </option>
          <option value="Metais">Metais</option>
          <option value="Vidros">Vidros</option>
          <option value="Plásticos">Plásticos</option>
          <option value="Papeis">Papeis</option>
        </select>
        -->

        <ul>       
          <li>
            <label>
              <p>Nome do Resíduo</p>
              <input class="residuoinput" formControlName="nome" type="text" placeholder="Garrafa Pet, Papel Aluminio, Borracha..." required/>
            </label>
          </li>
          <li>
            <label>
              <p>Escolha a categoria do resíduo</p>
              <select name="categoria" value="0" formControlName="categoria">
                <option *ngFor="let categoria of categoriaService.categorias" [ngValue]="categoria">
                  {{categoria.nome}}
                </option>
              </select>
            </label>
          </li>
          
          <li>
            <label>
              <p>Imagem do Resíduo</p>
              <input type="file" formCbontrolName="imagemResiduo" (change)="fileChange($event)" placeholder="imgresiduo" required/>
            </label>
          </li>
        
          <li>
            <label>
              <p>Descrição do resíduo</p>
              <textarea formControlName="descricao" class="residuoinput" rows="4" cols="50"></textarea>
            </label>
          </li>
        </ul>
        <!--
          template: '<button class="btn btn-default" (click)="showSuccess()">Toastr Tester</button>'
          (click)="mensagem()"
        -->
        <button type="submit" class="btn btn-default" >Cadastrar</button>
      </fieldset> 
    </form>
  </div>
</div>

<!--vai ter os campos: 
nome, descricao, imagem do residuo, 
imagem da subcategoria q serao carregadas 
um combo-box com todas as categorias
campo da descrição q vai ser digitado ou vai ser carregado um arquivo de texto
-->