<!--  <h1> Entrar </h1> -->
<div class="content">
    <form  class="cadastro" [formGroup]="loginAdminForm" novalidate (ngSubmit)="loginAdmin(loginAdminForm.value)">
      <fieldset>
        <ul>
          <li>
            <label>
              <p> E-mail </p>
                <input  formControlName="email" type="email" placeholder="E-mail" required/><br />
            </label>
          </li>
          <li>
            <label>
              <p> Senha </p>
                <input  formControlName="senha" type="password" placeholder="Senha" required/><br />
            </label>
          </li>
        </ul>
        <button type="submit">Login</button>
      </fieldset>
    </form>
</div>  
