	<nav>
		<div class="logout">
			<p>Bem Vindo!</p>
			 <button (click)="logout()">Sair</button>
		</div>
		<ul>
			<li *ngFor="let tab of tabs" class={{tab.tabClass}} (click)="selectTab(tab)">
				<img src="assets/images/icone-{{tab.tabClass}}.svg" alt={{tab.tabTitle}} />{{tab.tabTitle}}
			</li>
		</ul>
	</nav>
	<div class="tabContentWrapper">
		<ng-content></ng-content>
	</div>