nav {
    position: absolute;
    width: 250px;
    height: 100%;
    background: #433B2F;
    overflow:  hidden;
    box-sizing: border-box;
}
nav.fixed {
    position: fixed;
    top: 0;
}

nav .logout {
    height: 62px;
    padding: 10px 15px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #433B2F;
    display: table;
}

nav .logout p {
    margin-bottom: 8px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;

}

nav .logout button {
    background: #60823A;
    padding: 3px 6px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 3px;
    font-weight: lighter;
    color: #fff;
    margin-top: 25% ;
    margin-left: 150%;
}

ul {
    list-style: none;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}


li {
    position: relative;
    padding: 19px 0 19px 20px;
    background: #544C41;
    font-size: 14px;
    color: #FAFAF9;
}

li img {
    vertical-align: middle;
    margin-right: 10px;
}

li.ativo {
    background: #4D463C;
}

li:hover{
    background: #635C52;
    cursor: pointer;
}

div.tabContentWrapper {
    width: 100%;
    padding-left: 250px;
    box-sizing: border-box;
}
