<abas>
      <aba abaTitle="Lista de Pontos de Coleta" abaNome="list-pco" [title]="listarPonto">
          <app-listarponto></app-listarponto>
      </aba>
      <aba abaTitle="Cadastrar Ponto de Coleta" abaNome="cad-pco" [title]="cadastrarPonto">
          <app-cadastrarponto></app-cadastrarponto>
      </aba>
      <aba abaTitle="Editar Ponto de Coleta" abaNome="edit-pco" [title]="editarPonto">
          <app-editarponto></app-editarponto>
      </aba>
      <aba abaTitle="Pontos Pendentes" abaNome="pend-pco" [title]="pontosPendentes">  
          <app-pontodecoletapendente></app-pontodecoletapendente>
      </aba>
  </abas>