<h1>Cadastrar Dicas</h1>

<div class="content">
  <div class="form-cadastrardica">
    <form class="cadastro" [formGroup]="myForm" novalidate (ngSubmit)="cadastraDica(myForm)">
      <ul>
        <li>
          <label>
            <p>Selecione para qual resíduo se destina a dica:</p>
            <select name="Residuo" formControlName="residuo">
              <option *ngFor="let residuo of residuoService.residuos" [ngValue]="residuo">{{residuo.nome}}</option> <!-- (ngValue)="residuo" -->
            </select> 
          </label>
        </li>
        
        <li>
          <label>
            <p>Titulo da Dica:</p>
            <input type="text" name="nome" formControlName="nome" />    
          </label>
        </li>

        <li>
          <label>
            <p>É dica para descarte ou para reutilização do resíduo?</p>
            <select name="Tipo" formControlName="isReutilizavel">
              <option value="false">Descarte</option>
              <option value="true">Reutilização</option>
            </select>
          </label>
        </li>        

        <li>
          <div class="passo" *ngFor="let number of qtdInput; let i=index; trackBy: trackByFn" >
            <div class="title">{{i+1}}<sup>o</sup> Passo</div>
            <ul>
              <li>
                <label>
                  <p>Imagem</p>
                  <input type="file" class="form-control" (change)="onChange($event, i)" />
                </label>
              </li>
              <li>
                <label>
                  <p>Descrição do Passo-a-Passo</p>
                  <textarea rows="4" cols="50" class="form-control" formControlName="anexos{{i}}" ></textarea>
                </label>
              </li>
            </ul>
          </div>
          <div class="btn_add_del">
            <a (click)="add()" style="cursor: default" class="btn_add">Adicionar Passo +</a>
            <a (click)="del()" style="cursor: default" class="btn_del">Remover Passo -</a>
          </div>
        </li>

      </ul>
      <button type="submit">Cadastrar</button>
    </form>

  </div>
</div>