<h1> Editar Administrador</h1>

<div class="content">
  <div class="form-editarusuario">
    <form class="cadastro" 
    [formGroup]="editarAdminForm" novalidate 
    (ngSubmit)="editarAdmin(editarAdminForm.value)">
    <!-- 
    [ngModel]="service.usuarioEmEditar"
    (ngModelChange)="serviceAdminChanged(editarAdminForm.value)" 
    -->
      <fieldset>
        <ul>
          <li>
            <input class="editinput" formControlName="codA" type="text" placeholder="Código" required disabled
            [ngModel]="service.usuarioEmEditar.codA" />
          </li>
          <li>
            <input class="editinput" formControlName="nome" type="text" placeholder="Nome" required
            [ngModel]="service.usuarioEmEditar.nome" />
          </li>
          <li>
            <input class="editinput" formControlName="email" type="email" placeholder="Email" required
            [ngModel]="service.usuarioEmEditar.email" />
          </li>
          <li>
            <input class="editinput" formControlName="senha" type="password" placeholder="Senha" required
            [ngModel]="service.usuarioEmEditar.senha" />
          </li>
        </ul>
        <button type="submit">Salvar Alterações</button>
      </fieldset>
    </form>
  </div>
</div>