div > div { display: inline-block; vertical-align: top; }

div.wrapper-tabela { width: calc(100% - 315px); }
div.wrapper-tabela tr th.cod { width: 100px; }

div.detalhes { width: 300px; margin-left: 10px; }

dl { display: block; }
dt { text-align: center; background: rgba(159, 183, 132, 0.8); color: #fff; text-shadow: 0px 2px 0px rgba(0,0,0, 0.3); }
dl dt { padding: 11px 5px 11px 10px; font-weight: bold; }
dl dd { min-height: 14px; margin-bottom: 10px; padding: 11px 5px 10px 20px; background: #F9F9F9; }