app-listardica {
    position: relative;
    background-color:#f4f7f8;
}

app-cadastrardica {
    position: relative;
    background-color:#f4f7f8;
}

app-editardica {
    position: relative;
    background-color:#f4f7f8;
}

 
