<h1> Editar ponto de coleta</h1>

<div class="content">
  <div class="form-editarponto">
    <form class="cadastro" [formGroup]="editarPontoForm" novalidate (ngSubmit)="editarPonto(editarPontoForm.value, false)">
      <fieldset>
        <ul>

          <li>
            <label>
              <p>Cód.</p>
              <input class="editinput" formControlName="codPC" type="text" placeholder="Cód." required disabled
              [(ngModel)]="service.pcoEmEditar.codPC" (ngModelChange)="editarPontoSetup($event)" />
            </label>
          </li>

          <li>
            <label>
              <p>Nome</p>
              <input class="editinput" formControlName="nome" type="text" placeholder="Nome" required
              [(ngModel)]="service.pcoEmEditar.nome" />
            </label>
          </li>

          <!-- <li>
            <label>
              <p>Imagem:</p>
              <input type="file" class="editinput" (change)="onChangeImage($event)" >
            </label>
          </li>
 -->
          <li>
            <label>
              <p>Endereço</p>
              <input placeholder="Endereço" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" 
              [(ngModel)]="service.pcoEmEditar.endereco" #search [(formControl)]="searchControl">
            </label>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </li>

          <li>
            <label>
              <p>Descrição</p>
              <input class="editinput" formControlName="descricao" type="text" placeholder="Descricao" required
              [(ngModel)]="service.pcoEmEditar.descricao" />
            </label>
          </li>

          <li>
            <label>
              <p>Telefone</p>
              <input class="editinput" formControlName="telefone" type="tel" placeholder="Telefone" required
              [(ngModel)]="service.pcoEmEditar.telefone" />
            </label>
          </li>

          <li>
            <label>
              <p>Email</p>
              <input class="editinput" formControlName="email" type="email" placeholder="Email" required
              [(ngModel)]="service.pcoEmEditar.email" />
            </label>
          </li>

        <li *ngIf="service.pcoEmEditar.pendente">
          <label>
            <p>Mensagem do usuário</p>
            <textarea type="textarea" placeholder="Mensagem" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="service.pcoEmEditar.msgRequisicao" >
            </textarea>
          </label>
        </li>

          <li>
            <h3>Horários de atendimento</h3>
            <ul class="horarios">
              <li *ngFor="let i of [0,1,2,3,4,5,6]">
                <label>
                  <input [(ngModel)]="diaCheck[i]" [ngModelOptions]="{standalone: true}" type="checkbox" required/>
                  <span>{{nomesSemana[i]}}</span>
                </label>
                <div>
                  Das <input class="editinput" [(ngModel)]="horaAbre[i]" [ngModelOptions]="{standalone: true}" type="time" placeholder="Hora Inicial" style="width:100px;" required/> até as <input class="editinput" [(ngModel)]="horaFecha[i]" [ngModelOptions]="{standalone: true}" type="time" placeholder="Hora Final" style="width:100px;" required/>
                </div>
              </li>
            </ul>
          </li>

        </ul>
        
        <!-- <div> 
          <p> Lista de resíduos que recebe </p>
          <select name="residuos" formControlName="residuos">
            <option>Escolha os resíduos</option>
            <option *ngFor="let residuos of residuo" [ngValue]="categoria">
              {{residuos.nome}}
            </option>
          </select>
        </div> -->

        <!-- lista estatica de residuos -->
        <div class="lista-residuos">
          <h3>Resíduos</h3>
          
          <ul>
            <li *ngFor="let residuo of residuoService.residuos; let i = index; trackBy:trackByFn">
              <label>
                <input type="checkbox" [(ngModel)]="checkResiduos[i]" [ngModelOptions]="{standalone: true}"/>
                {{residuo.nome}}
              </label>
            </li>
          </ul>
        </div>

        <div *ngIf="!service.pcoEmEditar.pendente">
          <button type="submit">Editar</button>
        </div>
        <div *ngIf="service.pcoEmEditar.pendente">
          <button type="button" (click)="efetivarPonto(editarPontoForm.value)">Aprovar ponto pendente</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>