<h1> Cadastrar Novo Administrador</h1>

<div class="content">
  <div class="form-cadastrarusuario">
    <form class="cadastro" [formGroup]="cadastrarAdminForm" novalidate (ngSubmit)="cadastrarAdmin(cadastrarAdminForm.value)">
      <fieldset>
        <ul>
          <li><input class="cadastrarinput" formControlName="nome" type="text" placeholder="Nome" required/></li>
          <li><input class="cadastrarinput" formControlName="email" type="email" placeholder="Email" required/></li>
          <li><input class="cadastrarinput" formControlName="senha" type="password" placeholder="Insira uma senha nova para alterá-la" required/></li>
        </ul>
        <button type="submit">Cadastrar</button>
      </fieldset>
    </form>
  </div>
</div>