app-listarcategoria {
    position: relative;
    background-color:#f4f7f8;
 
}

app-cadastrarcategoria {
    position: relative;
    background-color:#f4f7f8;
 
}

app-editarcategoria {
    position: relative;
    background-color:#f4f7f8;
 
}