
<h1>Editar Resíduo</h1>

<div class="content">
  <div class="form-editarresiduo">
    <form class="cadastro" [formGroup]="residuoForm" novalidate (ngSubmit)="editarResiduo(residuoForm.value)">
      <fieldset>
        
        <!-- Load descrição, imagem do residuo e imagem da subcategoria-->
        <!-- Carregar as categorias do banco
        <select [(ngModel)]="categoria.id">
          <option *ngFor="let categoria of categorias" value={{categoria.id}}>
            {{categoria.nome}}
          </option>
          <option value="Metais">Metais</option>
          <option value="Vidros">Vidros</option>
          <option value="Plásticos">Plásticos</option>
          <option value="Papeis">Papeis</option>
        </select>
        -->
        <ul>
          <li>
            <label>
              <p>Cód</p>
              <input class="residuoinput" formControlName="codR" placeholder="Código" type="text" required disabled
              [ngModel]="service.resEmEditar.codR" (ngModelChange)="editarResSetup($event)"/>
            </label>
          </li>

          <li>
            <label>
              <p>Nome do Resíduo</p>
              <input class="residuoinput" formControlName="nome" placeholder="Nome" type="text" required
              [ngModel]="service.resEmEditar.nome" />
            </label>
          </li>

          <li>
            <label>
              <p>Escolha a categoria do resíduo</p>
              <select name="categoria" value="0" placeholder="Categoria" formControlName="categoria" [(ngModel)]="service.resEmEditar.categoria.codC" >
                <option *ngFor="let categoria of categoriaService.categorias" [ngValue]="categoria.codC" >
                  {{categoria.nome}}
                </option>
              </select>
            </label>
          </li>
            
          <li>
            <label>
              <p>Imagem do Resíduo</p>
              <input type="file" (change)="fileChange($event)" (ngModelOptions)="{standalone:true}" />
            </label>
          </li>
          
          <li>
            <label>
              <p>Descrição do resíduo</p>
              <textarea formControlName="descricao" class="residuoinput" rows="4" cols="50"
              [ngModel]="service.resEmEditar.descricao"> </textarea>
            </label>
          </li>
        </ul>
        <button type="submit">Salvar Alterações</button>
      </fieldset> 
    </form>
  </div>
</div>